{% extends 'base.html.twig' %}

{% block title %}Welcome in Painter!{% endblock %}

{% block body %}
    <h1 class="text-center"><span class="text-primary">{{ 'Welcome'|trans }}</span> <span class="text-success">{{ 'in'|trans }}</span> <span class="text-danger">Painter</span>!</h1>
{% endblock %}
